.bss-lock-page-container:has([bss-lock-rule-id="5325"]) {background:none;width:100%;max-width:560px;min-height:unset!important;border-radius:none;padding:0!important;box-shadow:none;margin:80px auto 0;}
                .bss-lock-page-container:has([bss-lock-rule-id="5325"]) .bss-fl-message{font-size:13px;font-weight:450;line-height:20px;}
                .bss-lock-page-container:has([bss-lock-rule-id="5325"]) .bss-commerce-custom-newsletter{text-align:center;margin:20px;}
                .bss-lock-page-container:has([bss-lock-rule-id="5325"]) .bss-newsletter-form__field-wrapper{width:100%;max-width:36rem;}
                .bss-lock-page-container:has([bss-lock-rule-id="5325"]) .bss-newsletter-form__field-wrapper .bss-newsletter__field{position:relative;z-index:0;margin:0;display:flex;border-radius:2px;overflow:hidden;max-height:50px;justify-content:center;}
                .bss-lock-page-container:has([bss-lock-rule-id="5325"]) .bss-newsletter-form__field-wrapper .bss-newsletter__field-input{width:unset;border-radius:0;border:1px solid #000;border-right:none;margin:0;outline:none;background:#fff;flex:1;padding:10px;font-size:14px;max-width:250px;}
                .bss-lock-page-container:has([bss-lock-rule-id="5325"]) .bss-newsletter-form__field-wrapper .bss-newsletter__field-input::placeholder{color:#6b7280;opacity:1;}
                .bss-lock-page-container:has([bss-lock-rule-id="5325"]) .bss-newsletter-form__field-wrapper .bss-newsletter__field__label{display:none;}
                .bss-lock-page-container:has([bss-lock-rule-id="5325"]) .bss-newsletter-form__field-wrapper .bss-newsletter-form__button{display:block;border:1px solid #000;border-left:none;width:50px;margin:0;padding:10px 15px;color:#000;border-radius:0;font-weight:500;cursor:pointer;background:none;font-size:18px;}
                .bss-lock-page-container:has([bss-lock-rule-id="5325"]) .bss-newsletter-form__field-wrapper .bss-newsletter-form__button .icon-arrow{display:block;}
                .bss-lock-page-container:has([bss-lock-rule-id="5325"]) .bss-newsletter-form__field-wrapper .bss-newsletter-form__button::after{display:none;}
                .bss-lock-page-container:has([bss-lock-rule-id="5325"]) .success-message{margin:14px;font-size:13px; color:black;}
        .bss-lock-passcode-container-5325.bsscommerce-passcode-container .bss-commerce-passcode-container-2 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-top: 16px;
        }
        .bss-lock-passcode-container-5325 .bss-commerce-passcode-input-label {
            margin-bottom: 4px; 
            display: flex;
            width: 100%;
            justify-content: flex-start;
            font-size: 14px;
            color: rgba(0, 0, 0, 1);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
        }

        .bss-lock-passcode-container-5325 .bsscommerce-ltap-password {
            display: flex;
            flex-direction: inherit;
            row-gap: 6px;
            column-gap: 6px;
            max-width: 100%;
            max-height: 200px;
            align-items: center;
            height: 42px;
        }
        .bss-lock-passcode-container-5325 .bss-password-form-wrapper {
            display: flex;
            align-items: center;
            border: 1px solid;
            border-color: rgba(0, 0, 0, 1);
            border-radius: 5px;
            overflow: hidden;
            background-color: #fff;
            margin-right: 6px;
            flex: 1;
            justify-content: space-between;
        }
        .bss-lock-passcode-container-5325.bsscommerce-passcode-container .bss-password-form-wrapper {
            width: 335px;
            max-width: 100%;
            max-height: 200px;
            height: 100%;
        }
        .bss-lock-passcode-container-5325 .bsscommerce-password {
            padding: 8px 0 8px 10px;
            border-radius: 5px;
            font-size: 14px;
            border: none;
            margin-right: 5px;
            box-shadow: none;
            outline: none;
        }
        .bss-lock-passcode-container-5325.bsscommerce-passcode-container .bsscommerce-password {
            width: 335px;
        }    
        .bss-lock-passcode-container-5325 .toggle-passcode-input {
            background-color: 
            transparent; 
            border: none; 
            line-height: 0; 
            padding: 8px; 
            cursor: pointer; 
            fill: #BABEC3;
        }
        .bss-lock-passcode-container-5325 .bsscommerce-password-submit {
            color: rgba(255, 255, 255, 1) !important;
            background-color: rgba(0, 0, 0, 1) !important;
            border: 1px solid #ccc;
            padding: 5px 15px;
            border-radius: 5px;
            cursor: pointer;
            height: 42px;
            font-size: 14px;
            font-weight: bold;
        }
        .bss-lock-passcode-container-5325.bsscommerce-passcode-container .bsscommerce-password-submit {
            max-height: 200px;
            max-width: 100%;
            width: 79px;
        }                
    
        .bss-lock-message-element-5325 {
            font-size: 14px !important;
            font-weight: normal !important;
            font-style: normal !important;
            text-decoration: none !important;
            text-align: center !important;
            color: rgba(35, 35, 35, 1) !important;
            display: inline-block !important;
            font-family: inherit !important;
        }

        
        
    undefined.bss-lock-passcode-container-5325 {}
        header [class*="bss-product-lock"] { display: none !important; } 
    .bss-lock-page-container:has([bss-lock-rule-id="5422"]) {background:none;width:100%;max-width:560px;min-height:unset!important;border-radius:none;padding:0!important;box-shadow:none;margin:80px auto 0;}
                .bss-lock-page-container:has([bss-lock-rule-id="5422"]) .bss-fl-message{font-size:13px;font-weight:450;line-height:20px;}
                .bss-lock-page-container:has([bss-lock-rule-id="5422"]) .bss-commerce-custom-newsletter{text-align:center;margin:20px;}
                .bss-lock-page-container:has([bss-lock-rule-id="5422"]) .bss-newsletter-form__field-wrapper{width:100%;max-width:36rem;}
                .bss-lock-page-container:has([bss-lock-rule-id="5422"]) .bss-newsletter-form__field-wrapper .bss-newsletter__field{position:relative;z-index:0;margin:0;display:flex;border-radius:2px;overflow:hidden;max-height:50px;justify-content:center;}
                .bss-lock-page-container:has([bss-lock-rule-id="5422"]) .bss-newsletter-form__field-wrapper .bss-newsletter__field-input{width:unset;border-radius:0;border:1px solid #000;border-right:none;margin:0;outline:none;background:#fff;flex:1;padding:10px;font-size:14px;max-width:250px;}
                .bss-lock-page-container:has([bss-lock-rule-id="5422"]) .bss-newsletter-form__field-wrapper .bss-newsletter__field-input::placeholder{color:#6b7280;opacity:1;}
                .bss-lock-page-container:has([bss-lock-rule-id="5422"]) .bss-newsletter-form__field-wrapper .bss-newsletter__field__label{display:none;}
                .bss-lock-page-container:has([bss-lock-rule-id="5422"]) .bss-newsletter-form__field-wrapper .bss-newsletter-form__button{display:block;border:1px solid #000;border-left:none;width:50px;margin:0;padding:10px 15px;color:#000;border-radius:0;font-weight:500;cursor:pointer;background:none;font-size:18px;}
                .bss-lock-page-container:has([bss-lock-rule-id="5422"]) .bss-newsletter-form__field-wrapper .bss-newsletter-form__button .icon-arrow{display:block;}
                .bss-lock-page-container:has([bss-lock-rule-id="5422"]) .bss-newsletter-form__field-wrapper .bss-newsletter-form__button::after{display:none;}
                .bss-lock-page-container:has([bss-lock-rule-id="5422"]) .success-message{margin:14px;font-size:13px; color:black;}
        .bss-lock-passcode-container-5422.bsscommerce-passcode-container .bss-commerce-passcode-container-2 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-top: 16px;
        }
        .bss-lock-passcode-container-5422 .bss-commerce-passcode-input-label {
            margin-bottom: 4px; 
            display: flex;
            width: 100%;
            justify-content: flex-start;
            font-size: 14px;
            color: rgba(0, 0, 0, 1);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
        }

        .bss-lock-passcode-container-5422 .bsscommerce-ltap-password {
            display: flex;
            flex-direction: inherit;
            row-gap: 6px;
            column-gap: 6px;
            max-width: 100%;
            max-height: 200px;
            align-items: center;
            height: 42px;
        }
        .bss-lock-passcode-container-5422 .bss-password-form-wrapper {
            display: flex;
            align-items: center;
            border: 1px solid;
            border-color: rgba(0, 0, 0, 1);
            border-radius: 5px;
            overflow: hidden;
            background-color: #fff;
            margin-right: 6px;
            flex: 1;
            justify-content: space-between;
        }
        .bss-lock-passcode-container-5422.bsscommerce-passcode-container .bss-password-form-wrapper {
            width: 335px;
            max-width: 100%;
            max-height: 200px;
            height: 100%;
        }
        .bss-lock-passcode-container-5422 .bsscommerce-password {
            padding: 8px 0 8px 10px;
            border-radius: 5px;
            font-size: 14px;
            border: none;
            margin-right: 5px;
            box-shadow: none;
            outline: none;
        }
        .bss-lock-passcode-container-5422.bsscommerce-passcode-container .bsscommerce-password {
            width: 335px;
        }    
        .bss-lock-passcode-container-5422 .toggle-passcode-input {
            background-color: 
            transparent; 
            border: none; 
            line-height: 0; 
            padding: 8px; 
            cursor: pointer; 
            fill: #BABEC3;
        }
        .bss-lock-passcode-container-5422 .bsscommerce-password-submit {
            color: rgba(255, 255, 255, 1) !important;
            background-color: rgba(0, 0, 0, 1) !important;
            border: 1px solid #ccc;
            padding: 5px 15px;
            border-radius: 5px;
            cursor: pointer;
            height: 42px;
            font-size: 14px;
            font-weight: bold;
        }
        .bss-lock-passcode-container-5422.bsscommerce-passcode-container .bsscommerce-password-submit {
            max-height: 200px;
            max-width: 100%;
            width: 79px;
        }                
    
        .bss-lock-message-element-5422 {
            font-size: 14px !important;
            font-weight: normal !important;
            font-style: normal !important;
            text-decoration: none !important;
            text-align: center !important;
            color: rgba(35, 35, 35, 1) !important;
            display: inline-block !important;
            font-family: inherit !important;
        }

        
        
    undefined.bss-lock-passcode-container-5422 {}
        header [class*="bss-product-lock"] { display: none !important; } 
    .bss-lock-page-container:has([bss-lock-rule-id="5454"]) {background:none;width:100%;max-width:560px;min-height:unset!important;border-radius:none;padding:0!important;box-shadow:none;margin:80px auto 0;}
                .bss-lock-page-container:has([bss-lock-rule-id="5454"]) .bss-fl-message{font-size:13px;font-weight:450;line-height:20px;}
                .bss-lock-page-container:has([bss-lock-rule-id="5454"]) .bss-commerce-custom-newsletter{text-align:center;margin:20px;}
                .bss-lock-page-container:has([bss-lock-rule-id="5454"]) .bss-newsletter-form__field-wrapper{width:100%;max-width:36rem;}
                .bss-lock-page-container:has([bss-lock-rule-id="5454"]) .bss-newsletter-form__field-wrapper .bss-newsletter__field{position:relative;z-index:0;margin:0;display:flex;border-radius:2px;overflow:hidden;max-height:50px;justify-content:center;}
                .bss-lock-page-container:has([bss-lock-rule-id="5454"]) .bss-newsletter-form__field-wrapper .bss-newsletter__field-input{width:unset;border-radius:0;border:1px solid #000;border-right:none;margin:0;outline:none;background:#fff;flex:1;padding:10px;font-size:14px;max-width:250px;}
                .bss-lock-page-container:has([bss-lock-rule-id="5454"]) .bss-newsletter-form__field-wrapper .bss-newsletter__field-input::placeholder{color:#6b7280;opacity:1;}
                .bss-lock-page-container:has([bss-lock-rule-id="5454"]) .bss-newsletter-form__field-wrapper .bss-newsletter__field__label{display:none;}
                .bss-lock-page-container:has([bss-lock-rule-id="5454"]) .bss-newsletter-form__field-wrapper .bss-newsletter-form__button{display:block;border:1px solid #000;border-left:none;width:50px;margin:0;padding:10px 15px;color:#000;border-radius:0;font-weight:500;cursor:pointer;background:none;font-size:18px;}
                .bss-lock-page-container:has([bss-lock-rule-id="5454"]) .bss-newsletter-form__field-wrapper .bss-newsletter-form__button .icon-arrow{display:block;}
                .bss-lock-page-container:has([bss-lock-rule-id="5454"]) .bss-newsletter-form__field-wrapper .bss-newsletter-form__button::after{display:none;}
                .bss-lock-page-container:has([bss-lock-rule-id="5454"]) .success-message{margin:14px;font-size:13px; color:black;}
        .bss-lock-passcode-container-5454.page-width.bsscommerce-passcode-container .bss-commerce-passcode-container-2 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-top: 16px;
        }
        .bss-lock-passcode-container-5454 .bss-commerce-passcode-input-label {
            margin-bottom: 4px;
            display: flex;
            width: 100%;
            justify-content: flex-start;
            font-size: 14px;
            color: rgba(0, 0, 0, 1);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
        }

        .bss-lock-passcode-container-5454.page-width #bsscommerce-ltap-password {
            display: flex;
            flex-direction: inherit;
            row-gap: 6px;
            column-gap: 6px;
            max-width: 100%;
            max-height: 200px;
            align-items: center;
            height: 42px;
        }
        .bss-lock-passcode-container-5454 .bss-password-form-wrapper {
            display: flex;
            align-items: center;
            border: 1px solid;
            border-color: rgba(0, 0, 0, 1);
            border-radius: 5px;
            overflow: hidden;
            background-color: #fff;
            margin-right: 6px;
            flex: 1;
            justify-content: space-between;
        }
        .bss-lock-passcode-container-5454.page-width.bsscommerce-passcode-container .bss-password-form-wrapper {
            width: 335px;
            max-width: 100%;
            max-height: 200px;
            height: 100%;
        }
        .bss-lock-passcode-container-5454 #bsscommerce-password {
            padding: 8px 0 8px 10px;
            border-radius: 5px;
            font-size: 14px;
            border: none;
            margin-right: 5px;
            box-shadow: none;
            outline: none;
        }
        .bss-lock-passcode-container-5454.page-width.bsscommerce-passcode-container #bsscommerce-password {
            width: 335px;
        }    
        .bss-lock-passcode-container-5454 .toggle-passcode-input {
            background-color: 
            transparent; 
            border: none; 
            line-height: 0; 
            padding: 8px; 
            cursor: pointer; 
            fill: #BABEC3;
        }
        .bss-lock-passcode-container-5454 #bsscommerce-password-submit {
            color: rgba(255, 255, 255, 1) !important;
            background-color: rgba(0, 0, 0, 1) !important;
            border: 1px solid #ccc;
            padding: 5px 15px;
            border-radius: 5px;
            cursor: pointer;
            height: 42px;
            font-size: 14px;
            font-weight: bold;
        }
        .bss-lock-passcode-container-5454.page-width.bsscommerce-passcode-container #bsscommerce-password-submit {
            max-height: 200px;
            max-width: 100%;
            width: 79px;
        }                
    
        .bss-lock-message-element-5454 {
            font-size: 14px !important;
            font-weight: normal !important;
            font-style: normal !important;
            text-decoration: none !important;
            text-align: center !important;
            color: rgba(35, 35, 35, 1) !important;
            display: inline-block !important;
            font-family: inherit !important;
        }

        
        
    undefined.bss-lock-passcode-container-5454 {}
        .bss-product-lock-5454 {
            height: 100%;
            min-width: inherit !important;
            min-height: 350px;
            position: relative;
            border-radius: 0px !important;
            border: none;
            background: #f1f1f1; 
        }

        .bss-product-lock-5454 .bss-lock-content-absolute {
            position: absolute !important;
            top: 60%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .bss-product-lock-5454 .bss-lock-content {
            height: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 0px !important;
            line-height: 1;
            position: relative;
            font-size: 14px !important; 
            font-weight: normal;
        }

        @media only screen and (max-width: 450px) {
            .bss-product-lock-5454.bss-lock-content-absolute {
                zoom: 85%;
            }
        }

        .bss-product-lock-5454 .bss-lock-message {
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
            padding: 0px 4px 4px;
            margin-bottom: 8px;
            text-align: center;
            color: #000000;
        }
    
        header [class*="bss-product-lock"] { display: none !important; } 
    .bss-lock-page-container:has([bss-lock-rule-id="7078"]) {background:none;width:100%;max-width:560px;min-height:unset!important;border-radius:none;padding:0!important;box-shadow:none;margin:80px auto 0;}
                .bss-lock-page-container:has([bss-lock-rule-id="7078"]) .bss-fl-message{font-size:13px;font-weight:450;line-height:20px;}
                .bss-lock-page-container:has([bss-lock-rule-id="7078"]) .bss-commerce-custom-newsletter{text-align:center;margin:20px;}
                .bss-lock-page-container:has([bss-lock-rule-id="7078"]) .bss-newsletter-form__field-wrapper{width:100%;max-width:36rem;}
                .bss-lock-page-container:has([bss-lock-rule-id="7078"]) .bss-newsletter-form__field-wrapper .bss-newsletter__field{position:relative;z-index:0;margin:0;display:flex;border-radius:2px;overflow:hidden;max-height:50px;justify-content:center;}
                .bss-lock-page-container:has([bss-lock-rule-id="7078"]) .bss-newsletter-form__field-wrapper .bss-newsletter__field-input{width:unset;border-radius:0;border:1px solid #000;border-right:none;margin:0;outline:none;background:#fff;flex:1;padding:10px;font-size:14px;max-width:250px;}
                .bss-lock-page-container:has([bss-lock-rule-id="7078"]) .bss-newsletter-form__field-wrapper .bss-newsletter__field-input::placeholder{color:#6b7280;opacity:1;}
                .bss-lock-page-container:has([bss-lock-rule-id="7078"]) .bss-newsletter-form__field-wrapper .bss-newsletter__field__label{display:none;}
                .bss-lock-page-container:has([bss-lock-rule-id="7078"]) .bss-newsletter-form__field-wrapper .bss-newsletter-form__button{display:block;border:1px solid #000;border-left:none;width:50px;margin:0;padding:10px 15px;color:#000;border-radius:0;font-weight:500;cursor:pointer;background:none;font-size:18px;}
                .bss-lock-page-container:has([bss-lock-rule-id="7078"]) .bss-newsletter-form__field-wrapper .bss-newsletter-form__button .icon-arrow{display:block;}
                .bss-lock-page-container:has([bss-lock-rule-id="7078"]) .bss-newsletter-form__field-wrapper .bss-newsletter-form__button::after{display:none;}
                .bss-lock-page-container:has([bss-lock-rule-id="7078"]) .success-message{margin:14px;font-size:13px; color:black;}
        .bss-lock-passcode-container-7078.page-width.bsscommerce-passcode-container .bss-commerce-passcode-container-2 {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-top: 16px;
        }
        .bss-lock-passcode-container-7078 .bss-commerce-passcode-input-label {
            margin-bottom: 4px;
            display: flex;
            width: 100%;
            justify-content: flex-start;
            font-size: 14px;
            color: rgba(0, 0, 0, 1);
            font-weight: normal;
            font-style: normal;
            text-decoration: none;
        }

        .bss-lock-passcode-container-7078.page-width #bsscommerce-ltap-password {
            display: flex;
            flex-direction: inherit;
            row-gap: 6px;
            column-gap: 6px;
            max-width: 100%;
            max-height: 200px;
            align-items: center;
            height: 42px;
        }
        .bss-lock-passcode-container-7078 .bss-password-form-wrapper {
            display: flex;
            align-items: center;
            border: 1px solid;
            border-color: rgba(0, 0, 0, 1);
            border-radius: 5px;
            overflow: hidden;
            background-color: #fff;
            margin-right: 6px;
            flex: 1;
            justify-content: space-between;
        }
        .bss-lock-passcode-container-7078.page-width.bsscommerce-passcode-container .bss-password-form-wrapper {
            width: 335px;
            max-width: 100%;
            max-height: 200px;
            height: 100%;
        }
        .bss-lock-passcode-container-7078 #bsscommerce-password {
            padding: 8px 0 8px 10px;
            border-radius: 5px;
            font-size: 14px;
            border: none;
            margin-right: 5px;
            box-shadow: none;
            outline: none;
        }
        .bss-lock-passcode-container-7078.page-width.bsscommerce-passcode-container #bsscommerce-password {
            width: 335px;
        }    
        .bss-lock-passcode-container-7078 .toggle-passcode-input {
            background-color: 
            transparent; 
            border: none; 
            line-height: 0; 
            padding: 8px; 
            cursor: pointer; 
            fill: #BABEC3;
        }
        .bss-lock-passcode-container-7078 #bsscommerce-password-submit {
            color: rgba(255, 255, 255, 1) !important;
            background-color: rgba(0, 0, 0, 1) !important;
            border: 1px solid #ccc;
            padding: 5px 15px;
            border-radius: 5px;
            cursor: pointer;
            height: 42px;
            font-size: 14px;
            font-weight: bold;
        }
        .bss-lock-passcode-container-7078.page-width.bsscommerce-passcode-container #bsscommerce-password-submit {
            max-height: 200px;
            max-width: 100%;
            width: 79px;
        }                
    
        .bss-lock-message-element-7078 {
            font-size: 14px !important;
            font-weight: normal !important;
            font-style: normal !important;
            text-decoration: none !important;
            text-align: center !important;
            color: rgba(0, 0, 0, 1) !important;
            display: inline-block !important;
            font-family: inherit !important;
        }

        
        
    
    .bss-countdown-wrapper-page:has([data-countdown-rule-id="7078"]) {
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        width: 50%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: rgba(0, 0, 0, 1);
        font-family: inherit;
        background-color: inherit;
    }
    .bss-timer-page[data-countdown-rule-id="7078"] {
        color: rgba(0, 0, 0, 1);
        font-family: inherit;
    }
    @media (max-width: 640px) {
        .bss-countdown-wrapper-page:has([data-countdown-rule-id="7078"]) {
            width: 100%;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }
        
    }

    .bss-countdown-wrapper-price:has([data-countdown-rule-id="7078"]) {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 6px;
        justify-content: center;
        color: rgba(0, 0, 0, 1);
        font-family: inherit;
        background-color: rgba(255, 255, 255, 1);
    }
    .bss-timer-price[data-countdown-rule-id="7078"] {
        font-family: inherit;
        color: rgba(0, 0, 0, 1)
    }
    
    .bss-lock-passcode-container-7078 {}
        header [class*="bss-product-lock"] { display: none !important; } 
    .card-product:has(.bss-lock-element) button[id*="x-atc-button"] { cursor: not-allowed; opacity: .5; pointer-events: none; }#items-grid .card-product:has(.bss-lock-element) .shopify-payment-button { display: none; }#items-grid .card-product:has(.bss-lock-element) button[id*="x-atc-button"] { display: none; }.product-content-container:has(.bss-lock-element) [id*='x-quantity-selector']{ cursor: not-allowed !important; opacity: .5 !important; pointer-events: none !important; }.product-content-container:has(.bss-lock-element) .add_to_cart_button{ cursor: not-allowed !important; opacity: .5 !important; pointer-events: none !important; }.product-content-container:has(.bss-lock-element) .shopify-payment-button{ cursor: not-allowed !important; opacity: .5 !important; pointer-events: none !important; }.card-product:has(.bss-lock-element) button[id*="x-atc-button"] { cursor: not-allowed !important; opacity: .5 !important; pointer-events: none !important; }
        .bss-hide-atc + * {
            display: none !important;
        }
			.bss-lock-hidden { display: none; }
			script#bss-behavior-script { display: none !important }
		

 
