.sections {
    text-align: center;
}

.sections-bottom {
    grid-gap: 20px;
}

.grid-col-1 {
  grid-template-columns: 1fr;
}

.grid-col-3 {
  grid-template-columns: 1fr 1fr 1fr;
}

.hidden {
  display: none;
}

.sections-bottom > .item {
    border: 1px solid black;
}

.image-circle > img {
  border-radius: 50%;
}

.image-circle > .empty-img {
  border: 1px solid black;
}

.padding-content {
  padding: 30px
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.order-last {
  order: 999;
}

.grid-single {
  grid-template-columns: 2fr 1fr;
}